/*@media(min-width:0px)
{
.navigation{border: 3px solid green;
height: auto;
border-radius: 15px;
}
.about{text-align: center;
background-repeat: no-repeat;
}
nav img{height: 400px;
width: 100%;
padding: 10px;}
}*/



