@media (min-width: 0px) {
  .navigation {
    height: 600px;
    background-image: url("/frontend_project/image/Mountain.jpg");
    background-repeat: no-repeat;
    display: flex;
    width: 2200px;
    font-size: 2em;
  }
}
.logo a {text-decoration: none;}
.link {
  margin-top: 10px;
  margin-left: 20px;
}
#navigation_bar {
  position: relative;
  width: 100%;
  float: left;
  margin-top: 10px;
  list-style-type:none;

}

nav li a{
  
  text-decoration: none;
}
nav li{display: flex;
font-size: 1em;
position: relative
;
gap: -5%;
}

.blog {
  font-family: cursive;
  margin-top: 150px;
  margin-left: 90px;
  color: white;
}
H6 {
  color: WHITE;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 20px;
}
.whole{
  gap: 200px;
}

.first {
  border-radius: 20px;
  background-color: rgb(67, 31, 197);
  box-shadow:5PX 5PX 5PX rgb(132, 193, 196);
  height: 400px;
  margin-top: 150px;
  border-radius: 10px;
  border-top: 1px solid  rgb(132, 193, 196);

  width: 61%;
  background-color: white;
  margin-left: 50px;
}


.first img{height: 400px;
width: 300px;
border-radius: 5px;
}
.color{color: blue;
  text-align: left;

}
.enjoy{display: inline;
color: white;
font-family: cursive;
font-size: 1em;
}

.paragraph{margin-left: 300px;
font-size: 2em;
margin-top:-300px;
}
.icon i {
  margin-top: -10px;
  gap: 10px;
  margin-left: 300px;
}

.text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  margin-top: 10px;
margin-left: 300PX;
  font-size: 1em;
}

.second {
  box-shadow:5PX 5PX 5PX rgb(132, 193, 196);
  border-top: 1px solid  rgb(132, 193, 196);

  border-radius: 20px;
  height: 400px;
  margin-top: 40px;
  border-radius: 10px;
  width: 61%;

  background-color: white;
  margin-left: 50px;
}
.second img{height: 400px;
  width: 300px;
  border-radius: 5px;
  }
.third {
  box-shadow:5PX 5PX 5PX  rgb(132, 193, 196);
border-top: 1px solid  rgb(132, 193, 196);
  border-radius: 20px;
  height: 400px;
  margin-top: 40px;
  border-radius: 10px;

  width: 61%;
  background-color: white;
  margin-left: 50px;
}
.third img{height: 400px;
  width: 300px;
  border-radius: 5px;
  }

@media (min-width: 0px) {
  .recent {
    height: 50%;
    width: 40%; 
    float: right;
    /* margin-right: 5%; */
    margin-top: 100px;
    text-align: center;
    font-size: 2em;
    margin-bottom: 5px;
    
  }

  .image {
    height: 50px;
    margin-top: 5px;
  }
  .now{padding-left: 250px;

  }

  .para {
  float: left;
}

.icon {
  margin-top: 40px;
gap: 10px;
  display:flex;
  list-style-type: none;
}



.one img {
  float: left;
  width: 100px;
  height: 100px;
}


  .two img {
    float: left;
    width: 100px;
    height: 100px;
  }

  
    .three img {
      float: left;
      width: 100px;
      height: 100px;
    }

    
      .four img {
        float: left;
        width: 100px;
        height: 100px;
      }


        .five img {
          float: left;
          width: 100px;
          height: 100px;
        }

        


@media (min-width:0px){

  .FOOTER {
    height: 200px;
    background-color: rgb(29, 29, 109);
    width: 2000px;
    margin-top: 400px;

  }

  #facebook{background-color: rgb(75, 75, 224);}
  #twitter{background-color:rgb(64, 242, 248);}
  #google{background-color: red;}
  
  .face{gap: 30px;
    float: right;
    margin-right: 30px;
    font-size: 2em;
    color: rgb(7, 212, 24);
    }}

    
.contact{
  
  display:grid;
list-style-type: none;
margin-left:20% ;
color: white;
}

.tact{font-size: 2em;
color: white;}
.p{color: white;}
.copy{color: white;}


p{font-family: cursive;
font-size: 1em;
}
}
