@media (min-width: 0px) {
  .navigation {
    border-radius: 3px solid rgb(165, 13, 13);
    height: 450px;
    background-image: url("/frontend_project/image/Mountain.jpg");
    background-repeat: no-repeat;
    display: flex;
    margin: 0px 20px;
    margin-top: 80px;
    border-radius: 10px;
    font-size: 2em;
  }
}

.link {
  margin-top: 10px;
  margin-left: 20px;
}
#navigation_bar {
  position: relative;
  padding: 30px;
  width: 100%;
  float: left;
  margin-top: 10px;
  list-style-type:none;

}

nav li a{
  
  text-decoration: none;
}
nav li{display: flex;
font-size: 1em;
position: relative
;
margin-left: -13%;
gap: -5%;
}

.blog {
  font-family: cursive;
  margin-top: 150px;
  margin-left: 90px;
  color: white;
}
H6 {
  color: WHITE;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 20px;
}

.first {
  border: 3px solid rgb(252, 215, 215);
  border-radius: 20px;
  height: 200px;
  margin-top: 40px;
  border-radius: 10px;
  width: 50%;
  background-color: white;
  margin-left: 50px;
}
.first img{height: 100%;}

img {
  float: left;
}

.icon {
  gap: 100px;
  display: flexbox;

}

.text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  margin-top: 10px;
  padding-left: 10px;
  font-size: 1em;
}

.second {
  border: 3px solid rgb(240, 181, 181);
  border-radius: 20px;
  height: 200px;
  margin-top: 40px;
  border-radius: 10px;
  width: 50%;

  background-color: white;
  margin-left: 50px;
}

.third {
  border: 3px solid rgb(248, 179, 179);
  border-radius: 20px;
  height: 200px;
  margin-top: 40px;
  border-radius: 10px;

  width: 50%;
  background-color: white;
  margin-left: 50px;
}


@media (min-width: 0px) {
  .recent {
    height: 50%;
    width: 40%; 
    float: right;
    /* margin-right: 5%; */
    margin-top: 20px;
    text-align: center;
    font-size: 2em;
    margin-bottom: 5px;
    margin-left: -60px;
  }

  .image {
    height: 50px;
    margin-top: 5px;
  }

  .para {
  float: left;
}

.icon {
  margin-top: 40px;
gap: 10px;
  display:flex;
  list-style-type: none;
}

@media (min-width:0px){

  .FOOTER {
    height: 100%;
    background-color: rgb(29, 29, 109);
    margin-top: 400px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
  }

  #facebook{background-color: rgb(75, 75, 224);}
  #twitter{background-color:rgb(64, 242, 248);}
  #google{background-color: red;}
  
  .face{gap: 30px;
    float: right;
    margin-right: 30px;
    font-size: 2em;
    color: rgb(7, 212, 24);
    }}

    
.contact{
  
  display:grid;
list-style-type: none;
margin-left:20% ;
color: white;
}

.tact{font-size: 2em;
color: white;}
.p{color: white;}
.copy{color: white;}
.now{padding-left: -20px;

}
.one{border: 5px solid rgb(196, 168, 168);
  border-radius: 5px;
  padding: 0px 10px;
  
}

.two{border: 5px solid rgb(243, 215, 215);
  border-radius: 5px;}

  .three{border: 5px solid rgb(243, 215, 215);
    border-radius: 5px;}

    .four{border: 5px solid rgb(243, 215, 215);
      border-radius: 5px;}

      .five{border:5px solid rgb(243, 215, 215);
        border-radius: 5px;}

        


p{font-family: cursive;
font-size: 1em;
}
}
